[submodule "gateway_MS_NESTJS"]
	path = gateway_MS_NESTJS
	url = https://github.com/josesiyo-robbio/gateway_MS_NESTJS.git
[submodule "products_MS_NESTJS"]
	path = products_MS_NESTJS
	url = https://github.com/josesiyo-robbio/products_MS_NESTJS.git
[submodule "orders_ms_nestjs"]
	path = orders_ms_nestjs
	url = https://github.com/josesiyo-robbio/orders_ms_nestjs.git
[submodule "payments_ms_nestjs"]
	path = payments_ms_nestjs
	url = https://github.com/josesiyo-robbio/payments_ms_nestjs.git
